/* CSS declarations go here */
div.footer-copyright {
  text-align: center;
}
h4, h5 {
  text-align: center;
}

#error404 {
  text-align: center;
  margin-top: 15%;
}
hr {
  border-width: 2px;
  border-color: #0d47a1;
}

div.social {
  display: block;
}
a.social {
  filter: invert(100%);
}

a.social :hover {
  opacity: 0.7;
  transition: 0.3s;
}
body {
  background-color: #e3f2fd;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

#profile , #overviews {
  margin-top: 25%;
  margin-bottom: 15%;
  margin-left: 35%;
  transition: transform .2s;
}

#profile:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
}

#overviews:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
}
